[submodule "fundme/lib/forge-std"]
	path = fundme/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "fundme/lib/chainlink-brownie-contracts"]
	path = fundme/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
